html {
  box-sizing: content-box;
  background-color: #F6F6F6;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    width:960px;
    height: 120px;
    padding: 20px;
    padding-left: 10%;
 }
 

#logo-long {
    height: 80px;
}

#logo-short{
    display: none;
}

.contact-bar{
    
    background-color: #585959;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 80px;
    height:50px;
}
.cnicons{
    
    color:#ffffff;
    width:30px;
    height:50px;
    transition: color 0.3s;
}

.cnicons:hover{
    color:#bfbfbf;
}

#gpad1{
    width:40px;
    height:50px;
    padding-top:0%;
    position:relative;
    right:44px;
    opacity:0;
    transition: opacity 0.3s;
}

#gpad1:hover{
    opacity: 1;
}

#gpad2{
    width:40px;
    height:50px;
    padding-top:0%;
    opacity:1;
    transition: opacity 0.3s;
}

#gpad2:hover{
    opacity:0;
}

#v-bar{
    height:40px;
    
    margin: 0px 5px 40px 5px;
}

#category{
    margin: 100px 20px 0px 20px;
    position:fixed;
    width: 300px;
    
}

#category > .col-md-6{
    position:block;
}